
/* .overlay_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    inset: 0;
    position: absolute;
} */

.colorMode-button {
    top: 50vh;
    right: 0;
    position: fixed;
    border-radius: 16px;
    border: 1px solid var(--borderColor-success-emphasis)
}

.banner {
  position: fixed;
  right: 0;
  top: 12vh;
  z-index: 30;
  width: 450px;
}

/* .init-dashboard {
    height: 85vh;
    position: relative;
} */

.header {
  /* top: 0;
  right: 0;
  left: 0;
  position: fixed; */
  z-index: 10;
  height: 80px;
  background-color: var(--bgColor-default);
}

.dashboard {
  /* top: 80px;
  right: 0;
  left: 0;
  position: relative; */
  /* height: calc(100vh - 80px); */
  background-color: var(--bgColor-default);
}

.footer {
  /* bottom: 0;
  right: 0;
  left: 0;
  position: fixed; */
  height: 50px;
  background-color: var(--bgColor-default);
}

