
/* .overlay_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    inset: 0;
    position: absolute;
} */

.colorMode-button {
    top: 50vh;
    right: 0;
    position: fixed;
    border-radius: 16px;
    border: 1px solid var(--borderColor-success-emphasis)
}